body {
    /* Margin bottom by footer height */
    background-image: url('../img/agp.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 60px;
    background-color: #000;
}
